

 @font-face {
font-family: "Benton";
src: url('../fonts/BentonSans-Regular.otf');
}
@charset "utf-8";
/* CSS Document */

/* ---------- FONTAWESOME ---------- */
/* ---------- http://fortawesome.github.com/Font-Awesome/ ---------- */
/* ---------- http://weloveiconfonts.com/ ---------- */

@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* ---------- ERIC MEYER'S RESET CSS ---------- */
/* ---------- http://meyerweb.com/eric/tools/css/reset/ ---------- */

@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);

/* ---------- FONTAWESOME ---------- */

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}




body
{
background: #f5f0eb;
}

.bgnav
{
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #32373b), color-stop(1, #262a2d));
  background-image: -o-linear-gradient(bottom, #32373b 0%, #262a2d 100%);
  background-image: -moz-linear-gradient(bottom, #32373b 0%, #262a2d 100%);
  background-image: -webkit-linear-gradient(bottom, #32373b 0%, #262a2d 100%);
  background-image: -ms-linear-gradient(bottom, #32373b 0%, #262a2d 100%);
  background-image: linear-gradient(to bottom, #32373b 0%, #262a2d 100%);
  border-color: #24282b;
}


.maincontent
{
margin-top: 10px;
}

.blackdop {
    height: 250px;
    background: none repeat scroll 0% 0% #131C21;
    margin-top: -20px;
}


.whitedop{
position: relative;
top:75px;
    height: 30px;
    background: none repeat scroll 0% 0% black;
    z-index: 99;
}

.jokowi {
margin-top: 76px;
width: 320px;
max-height: 150px;
}

.centerpinggir
{
float: left;
}


.navbar li span.label {
    line-height: 48px;
    height: 4px;
    display: block;
    padding: 0px 5px;
    border-bottom: 3px solid transparent;
    border-radius: none;
    border-radius: 0px;
   	background: #18B87A;
}


.logo
{
margin-top: -17px;
}


.text-pencitraan
{
display: inline;
color: #FFF;
font-family: Helvetica;
font-style: italic;
font-size: 10px;
position: relative;
z-index: 99;
left: 25px;
top: 5px;
}

.text-pencitraan2
{
display: inline;
color: #999;
font-family: Helvetica;
font-weight: bold;
font-size: 10px;
position: relative;
z-index: 99;
left: 25px;
top: 5px;
padding-right: 5px;
padding-left: 5px;
border-right: 1px solid #CCC;
text-decoration: none;
}


.text-pencitraan3
{
display: inline;
color: #999;
font-family: Helvetica;
font-weight: bold;
font-size: 10px;
position: relative;
z-index: 99;
left: 25px;
top: 5px;
padding-right: 5px;
padding-left: 5px;
border-right: 1px solid #CCC;
text-decoration: none;
}

a:hover
{
text-decoration: none;
}

.text-pencitraan2:hover
{
text-decoration: none;
color: white;
}



.mainfont
{
font-size: 12px;
}

.rules
{
background: none repeat scroll 0% 0% #DFEAF4;
padding: 2px 8px 2px 2px;
border-radius: 2px;
padding-left: 6px;
border: 1px solid #ccc;
}

.textblock
{
margin-left: 35px;

}

.coloring
{
color: #18b87a;
font-weight: bold;
font-style: italic;
}

.navbar
{
border-radius: 0px;
background-image: linear-gradient(to bottom, #32373B 0%, #262A2D 100%);
position: fixed;
z-index: 670;
width: 100%;
margin-top: 20px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #999;
font-size: 11px;
    font-weight: bold;
}



.button {
    background-color: #999;
    background-image: -webkit-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    background-image:    -moz-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    background-image:     -ms-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    background-image:      -o-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    background-image:         linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    border: none;
    border-radius: .5em;
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.2),
                inset 0 2px 0 hsla(0,0%,100%,.1),
                inset 0 1.2em 0 hsla(0,0%,100%,0.1),
                inset 0 -.2em 0 hsla(0,0%,100%,.1),
                inset 0 -.25em 0 hsla(0,0%,0%,.25),
                0 .25em .25em hsla(0,0%,0%,.05);
    color: #b9bab9;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.5;
    margin: 0 .5em 1em;
    padding: .5em 1.5em .75em;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 1px hsla(0,0%,100%,.25);
    vertical-align: middle;
}
.button:hover {
    outline: none;
    background: #f5f0eb;
    color: black;

}
.button:hover,
.button:focus {
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.2),
                inset 0 2px 0 hsla(0,0%,100%,.1),
                inset 0 1.2em 0 hsla(0,0%,100%,.1),
                inset 0 -.2em 0 hsla(0,0%,100%,.1),
                inset 0 -.25em 0 hsla(0,0%,0%,.25),
                inset 0 0 0 3em hsla(0,0%,100%,.2),
                0 .25em .25em hsla(0,0%,0%,.05);
}
.button:active {
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.2),
                inset 0 2px 0 hsla(0,0%,100%,.1),
                inset 0 1.2em 0 hsla(0,0%,100%,.1),
                inset 0 0 0 3em hsla(0,0%,100%,.2),
                inset 0 .25em .5em hsla(0,0%,0%,.05),
                0 -1px 1px hsla(0,0%,0%,.1),
                0 1px 1px hsla(0,0%,100%,.25);
    outline: none;
}

.small {
    font-size: .75em;
}


.round {
    border-radius: 1.25em;
    float: right;
}

.white {
    background-color: #eee;
}

.buttonstyle
{
margin-top: -40px;
width: 20px;
height: 10px;
    line-height: 0.1;
}

.buttonstyle2
{
margin-top: 5px;
width: 20px;
height: 10px;
    line-height: 0.1;
    float: left;
}


.group
{
z-index: 99;
position: absolute;
margin-left: -17px;
margin-top: -8px;
}

.tick
{
z-index: 99;
position: absolute;
margin-left: -17px;
margin-top: -8px;
}

.visit
{
margin-top: 195px;
font-size: 12px;
background: none repeat scroll 0% 0% #18B87A;
border-radius: 4px;
height: 30px;
line-height: 0.1;
cursor: pointer;
}

.pasteberita {
    top: -100px;
    left: 200px;
    font-size: 10px;
    border-radius: 2px;
    position: relative;
    z-index: 99;
}


.widthrow
{
width: 530px;
}

.visit:hover
{
background: none repeat scroll 0% 0% #1cd47b;
}


.buttonstyle:hover .group
{
background: url("../img/group2.png") no-repeat;
}

.buttonstyle2:hover .tick
{
background: url("../img/tick2.png") no-repeat;
}

.news
{
width: 500px;
height: 242px;
background: #ffffff;
margin-top: 15px;
}

.expression
{
width: 500px;
background: #f9f9f9;
margin-top: -20px;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
}

.commentary-box
{
width: 500px;
background: #ffffff;
margin-top: -20px;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
display: inline-block;
position: relative;
}
.commentary
{
height: auto;
width: 500px;
border-top:  1px solid #ccc;
display: inline-table;
margin-left: -20px;
margin-bottom: 3px;
position: relative;
display: table;
padding-bottom: 10px;
top: -21px;
padding-top: 2px;
}

.photo2wrap
{
margin-left: -20px;
position: relative;
display: inline-block;
top: -10px;
}

.photowrap
{
width: 40px;
height: 40px;
position: relative;
float: left;
top:-10px;
margin-left: 10px;
margin-top: 5px;
}

.agreement
{
z-index: 99;
margin-top: -30px;
margin-left: 23px;
}


.photopro
{
border-radius: 4px;
border: 2px solid white;
}

.shadow {
  -moz-box-shadow:    1px 1px 2px 2px #ccc;
  -webkit-box-shadow: 1px 1px 2px 2px #ccc;
  box-shadow:         1px 1px 2px 2px #ccc;
}

.photo
{
width: 200px;
height: 240px;
float: left;
background: none repeat scroll 0% 0% #000;
position: relative;
top: -20px;
left: -20px;
border-bottom-left-radius: 4px;
border-top-left-radius: 4px;
background: url("../img/prabowo.jpg") no-repeat center center; 
}


.photo2
{
width: 200px;
height: 240px;
float: left;
background: none repeat scroll 0% 0% #000;
position: relative;
top: -20px;
left: -20px;
border-bottom-left-radius: 4px;
border-top-left-radius: 4px;
background: url("../img/mega.jpg") no-repeat center center; 
}


.title
{
font-size: 12px;
font-weight: bold;
margin-top: -10px;
color: black;
text-decoration: none;
}

.title:hover
{
text-decoration: none;
}

.fewnews
{
font-size: 11px;
line-height: 1.2;
margin-top: 10px;
height: 110px;
}

.linkto
{
color: #18b87a;
font-weight: bold;
}

.linenews
{
width: 120px;
margin-top: -100px;
margin-right: 10px;
display: inline-block;
}

.field--wrapper {
  margin-bottom:20px;
}
label {
top: -10px;
opacity: 1;
float: right;
position: relative;
left: -177px;
  left:0;
  font-size:11px;
  color:#aaa;
  transition: all 1s ease;
  opacity:0;
  font-weight:bold;

}


label.on {
  color:#18b87a;
    float: right;
}

label.show {
    top: -10px;
    opacity: 1;
    float: right;
    position: relative;
    left: -177px;
}

.labels
{
top: -10px;
opacity: 1;
float: right;
position: relative;
left: -177px;
  left:0;
  font-size:11px;
  color:#aaa;
  transition: all 1s ease;
  opacity:0;
  font-weight:bold;

}

.labels.on {
  color:#18b87a;
    float: right;
}

.labels.show {
top: -10px;
opacity: 1;
float: right;
position: relative;
left: -294px;
}

.bantukami
{
font-size: 15px;
color: #18b87a;
margin-top: -5px;
position: relative;
top:-15px;
color: white;
}

.comment
{
top: -10px;
width: 250px;
font-size: 12px;
padding: 8px;
background-color: rgba(255, 255, 255, 0.2);
border: 1px solid #CCC;
border-radius: 2px;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
position: relative;
}

.comment:focus{
    background: #fff; 
    border: 1px solid #18b87a;
    border-width:1px; border-style:solid; border-color:#18b87a;}

.show .on
{
border: 1px solid #18b87a;
}

.panel > :last-child {
    margin-bottom: -35px;
}

.name
{
float: left;
margin-left: 10px;
font-weight: bold;
font-size: 11px;
display: inline-block;
position: relative;
top: 5px;
}

.commentarycomment
{
font-size: 12px;
float: left;
width: 400px;
line-height: 1.2;
padding-left: 10px;
margin-top: 5px;
}


.commentarycomment2
{
font-size: 10px;
font-style: italic;
float: left;
width: 400px;
line-height: 1.2;
padding-left: 10px;
margin-top: 5px;
margin-left: 50px;
color: #ccc;
}



.commentphoto
{
margin-top: 12px;
}


.span
{
padding-left: 5px;
padding-right: 5px;
}
.tooltips {
  position: relative;
  display: inline;
}
.tooltips .span {
  position: absolute;
  width:150px;
  color: #B3B3B3;
  background: #FFFFFF;
  border: 2px solid #E9E9E9;
  height: 48px;
  line-height: 48px;
  text-align: center;
  visibility: hidden;
  border-radius: 4px;
}
.tooltips .span:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -12px;
  width: 0; height: 0;
  border-left: 12px solid #E9E9E9;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
}
.tooltips .span:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -8px;
  width: 0; height: 0;
  border-left: 8px solid #FFFFFF;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
.tooltips:hover .span {
  visibility: visible;
  opacity: 1;
  right: 100%;
  top: 50%;
  margin-top: -24px;
  margin-right: 15px;
  z-index: 999;
  pointer-events: auto;
}


.rating_buttons_wrapper {;
position: absolute;
    margin-right: 0px;
margin-left: 490px;
}

.feed_item_answer .rating_buttons {
    float: left;
    margin-right: 5px;
    padding: 0px;
    width: 20px;
}

.rating_buttons {
}

.rating_options, .rating_buttons {
    width: 19px;
    margin-top: -20px;
}

.upvote_with_number {
    text-shadow: 0px 1px #ccc;
}

.rating_options, .rating_buttons {
    width: 19px;
}

 .rate_up {
    padding-top: 16px;
    margin-bottom: 1px;
    cursor: pointer;
}

.upvote_with_number .lil_button {
    width: 20px;
}

.lil_button {
    border-radius: 3px;
    background: none repeat scroll 0% 0% #DFEAF4;
    clear: right;
    float: right;
    height: 17px;
    margin-bottom: 1px;
    width: 19px;
    padding-bottom: 17px;
}

.upvote_with_number .rate_down {
    background-image: url('../img/downvote.png');
    background-color: #F5F0EB;
    cursor: pointer;
}

.upvote_with_number .rate_down:hover {
    background-image: url('../img/downvote-hover.gif');
  	background-color: #18B87A;
}


.upvote_with_number .rate_up:hover{
	background:#18B87A;
	color:#fff;
	text-shadow:0 1px #19558d;
	cursor: pointer;
	text-decoration: none;
}


.upvoteimg
{
background-image: url('../img/upvote.png');
z-index: 99;
position: relative;
height: 16px;
width: 20px;
top:-14px;
}

.total{
z-index: 99;
position: relative;
font-family: Helvetica;
font-size: 12px;
font-weight: bold;
top:-14px;
color: #18B87A;
}

.rate_up:hover .total
{
color: #ffffff;
}

.rate_up:hover .upvoteimg
{
background-image:url('../img/upvote-hover.png');
}

.cap
{
position: absolute;
display: block;
z-index: 99;
width: 100px;
margin-left: 400px;
margin-top: -70px;
}



/* ---------- LOGIN ---------- */

.dd
{
background:#2F3438;
}

.logologin
{
margin-top: -30px;
margin-left: 10px;
}

.login:active
{
background: transparent;
}



.lupa
{
font-size: 10px;
color: #999999;
margin-top: -15px;
margin-left: 3px;
}

.navbar-inverse .navbar-nav > li > .signup
{
background-color: #18B87A;
background-image: linear-gradient(#18B87A, #1cd47b);
border-color: #1cd47b;
text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
box-shadow: none;
line-height: 1;
padding: 10px;
	border-radius: 5px;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	font-size: 11px;
	position: relative;
	margin-top: 10px;
}

.navbar-inverse .navbar-nav > li > .signup:hover
{
background: #1cd47b;
}

.lupa:hover
{
color: white;
}

.loginwithfb
{
margin: 0px 0px 10px;
background: none repeat scroll 0% 0% #0072ba	;
display: block;
position: relative;
color: #FFF;
padding: 9px 10px 9px 42px;
font-weight: bold;
font-size: 10px;
border-radius: 3px;
text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
cursor: pointer;
text-decoration: none;
	width: 140px;
	border: 1px solid #391515;
	margin-top: 15px;
}

.loginwithfb:hover
{
background:#157aba;
}

.fbico
{
background: url('../img/fb.png');
position: absolute;
top: 7px;
left: 11px;
width: 24px;
height: 24px;
background-repeat: no-repeat;
background-size: 23px 23px;
}

#login input[type="submit"]:hover {
background: none repeat scroll 0% 0% #1cd47b;
}




.custom-tweet-button, 
.custom-follow-button {
    width: 200px;
    margin: 1em auto 2em;
    position: relative;
    top: 10px;
    border-right: none;
    line-height: 0.7;
}

.custom-tweet-button a,
.custom-follow-button a {
  position: relative;
  display: inline-block;
  height: 16px;
  padding: 2px;
  border: 1px solid #ccc;
  font-size: 11px;
  color: #333;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  font-weight: bold;
  background-color: #F8F8F8;
  background-image: -webkit-gradient(linear,left top,left     bottom,from(#FFF),to(#DEDEDE));
  background-image: -moz-linear-gradient(top,#FFF,#DEDEDE);
  background-image: -o-linear-gradient(top,#FFF,#DEDEDE);
  background-image: -ms-linear-gradient(top,#FFF,#DEDEDE);
  border: #CCC solid 1px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  overflow: hidden;
}
.custom-tweet-button a:hover,
.custom-follow-button a:hover  {
  border-color: #BBB;
  background-color: #F8F8F8;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#F8F8F8),to(#D9D9D9));
  background-image: -moz-linear-gradient(top,#F8F8F8,#D9D9D9);
  background-image: -o-linear-gradient(top,#F8F8F8,#D9D9D9);
  background-image: -ms-linear-gradient(top,#F8F8F8,#D9D9D9);
  background-image: linear-gradient(top,#F8F8F8,#D9D9D9);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.custom-tweet-button a .btn-icon,
.custom-follow-button a .btn-icon{
  position: absolute;
  width: 16px;
  height: 13px;
  top: 50%;
  left: 3px;
  margin-top: -6px;
  background: url('https://twitter.com/favicons/favicon.ico') 1px center no-repeat;
}
.custom-tweet-button a .btn-text,
.custom-follow-button a .btn-text{
  display: inline-block;
  padding: 2px 3px 0 20px;
}
