// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
    .image {
        float:left;
        width: 250px;
    }
    .right{
        float:left;
        width: 550px;
    }
    .break{
        clear:both;
    }
    .url{
        color: blue;
    }
    .item{
        cursor:pointer; 
        width: 800px; 
        margin-left: 300px;
    }
